<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Spreadsheets IOSR</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">{{user.firstName}} {{user.lastName}}</a></li>
        <li ng-if="!user.anonymous"><a href="" ng-click="user.signOut()"><span style = "font-size:1.5em;vertical-align:middle; "class="glyphicon glyphicon-off"></span></a></li>
      </ul>
    </div>
  </div>
</nav>