<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" ng-if="!user.anonymous">
  	<li><a href="spreadsheet/create/" class="text-center"><button class="btn btn-danger btn-lg">CREATE NEW</button></a></li>
  </ul>
  <ul class="nav nav-sidebar" ng-if="!user.anonymous">
    <li ng-class="component.path == 'spreadsheet' ? 'active' : ''">
    	<a href="/">
    		<span style="font-size:2em;vertical-align:middle;" class="glyphicon glyphicon-book"></span>
    		 My spreadsheets
    	</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar" ng-if="component.route.action1 && !isNaN(component.route.action1) && !component.route.action2">
    <li><a ng-click="cellStyling('fontWeight','bold')"><span style="font-size:2em;vertical-align:middle;" class="glyphicon glyphicon-bold"></span>
         Bold</a></li>
    <li><a ng-click="cellStyling('fontStyle','italic')"><span style="font-size:2em;vertical-align:middle;" class="glyphicon glyphicon-italic"></span>
         Italic</a></li>
    <li><a ng-click="cellStyling('textDecoration','underline')"><span style="font-size:2em;vertical-align:middle;" class="glyphicon glyphicon-text-width"></span>
         Underline</a></li>
    <li style="padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; color: #337ab7; text-decoration: none;" ng-click="stylingColor()"><span style="font-size:2em;vertical-align:middle;padding-right:5px;" class="glyphicon glyphicon-text-color"></span>Color<input style="margin-left:8px;" type="color" ng-model="color.code" ng-change="cellStyling('color',color.code,false)"></li>
  </ul>
</div>