<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Chart: </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Char type<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li set-active>
              <a href="#" ng-click="setChartType('Line')">Line</a>
            </li>
            <li set-active>
              <a href="#" ng-click="setChartType('Bar')">Bar</a>
            </li>
          </ul>
        </li>
        <li><a href='#' ng-click="chartAdded()" add-charts-button>Add chart</a></li>
        <li><a href="#" ng-click="drawChart()">Draw</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chart Color<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="button-color blue" set-active>
              <a href="#" ng-click="setChartColor('blue')">&nbsp;</a>
            </li>
            <li class="button-color red" set-active>
              <a href="#" ng-click="setChartColor('black')">&nbsp;</a>
            </li>
            <li class="button-color green" set-active>
              <a href="#" ng-click="setChartColor('green')">&nbsp;</a>
            </li>
            <li class="button-color yellow" set-active>
              <a href="#" ng-click="setChartColor('yellow')">&nbsp;</a>
            </li>
          </ul>
        </li>
        <li><a href="#" ng-click="removeChart()" remove-charts-button>Delete</a></li>
        Range x: <input id="xRange" type="text" name="xRange"><br>
        Range y: <input id="yRange" type="text" name="yRange"><br>
      </ul>
    </div>
  </div>
</nav>
