<article class="layout flex horizontal" ng-if="!errorOccurred && (!user.anonymous || (user.anonymous && (component.route.componentName === 'spreadsheet' && component.route.action1 != undefined && component.route.action2 === undefined)))">
  <ng-include src="'views/core/header.html'"></ng-include>
  <div class="container-fluid">
    <div class="row">

      <ng-include src="'views/core/sidebar.html'"></ng-include>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-switch="component.path">
        <div ng-switch-when="spreadsheet">
        	<ng-include src="'views/spreadsheets/init.html'"></ng-include>
        </div>
      </div>
      
    </div>
  </div>
</article>
<article class="layout flex horizontal" ng-if="errorOccurred || (user.anonymous && (component.route.componentName !== 'spreadsheet' || component.route.action1 == undefined || component.route.action2 != undefined))" ng-include="'views/core/error.html'"></article>