<article class="layout flex horizontal">
	<div class="container-fluid">
    	<div class="row text-center">
    			<h2>Spreadsheets IOSR</h2>
    	</div>
    	<div class="row">
    		<p></p>
    		<p></p>
    	</div>
    	<div class="row text-center">
       			<button type="button" class="btn btn-primary" ng-click="user.signIn()">Google Authentication</button>
    	</div> 
   	</div>
</article>