.button-color {
  border : 2px solid;
}

.button-color.blue {
  background : #0000CD;
}

.button-color.yellow {
  background : #FFD700;
}

.button-color.black {
  background : #FFFFFF;
}

.button-color.green {
  background : #ADFF2F;
}
