<h1>SPREADSHEET FORM</h1>
<form novalidate name="spreadsheetForm" role="form" method="post" enctype="multipart/form-data" autocomplete="off" ng-submit="form.submit(spreadsheetForm)">
	<div class="form-group">
		<label for="title" class="control-label">Title</label>
		<input id="title" type="text" class="form-control" name="title" autocomplete="off" data-ng-model="model.title" ng-minlength="1" ng-maxlength="255" ng-required="true" />
		<span ng-if="model.shared">
			<label for="alias" class="control-label">Access link alias (YOUR-DOMAIN/spreadsheet/...)</label>
			<input id="alias" type="text" class="form-control" name="alias" autocomplete="off" data-ng-model="model.alias" ng-minlength="1" ng-maxlength="255" ng-required="false" />
		</span>
    </div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="form-notification" class="notifications top-right"></div>