<div ng-if="(component.route.action1 != undefined && component.route.action1 != 'create') && component.route.action2 == undefined">
    <ng-include src="'views/charts.html'" ng-controller="chartsController"></ng-include>
    <ng-include src="'views/spreadsheets/partial.html'" ng-controller="spreadsheetsCtrl"></ng-include>
</div>
<div ng-if="component.route.action1 != undefined && component.route.action1 == 'create'">
    <ng-include src="'views/spreadsheets/form.html'" ng-controller="spreadsheetCreateCtrl"></ng-include>
</div>

<div>
</div>
<div ng-if="(component.route.action1 == 'spreadsheet') || (component.route.action1 == undefined && component.route.action2 == undefined) || (!isNaN(component.route.action1) && component.route.action2 != undefined)" ng-switch="component.route.action2">
    <div ng-switch-default>
        <ng-include src="'views/spreadsheets/list.html'" ng-controller="spreadsheetsCtrl"></ng-include>
    </div>
    <div ng-switch-when="edit">
        <ng-include src="'views/spreadsheets/form.html'" ng-controller="spreadsheetEditCtrl"></ng-include>
    </div>
    <div ng-switch-when="remove">
        <ng-include src="'views/spreadsheets/list.html'" ng-controller="spreadsheetRemoveCtrl"></ng-include>
    </div> 
</div>
