<h3><strong>Choose from your items below or change section in left menu</strong></h3>
<hr>
<table class="table table-striped">
  <thead>
  	<th>Title</th>
  	<th>Actions</th>
  </thead>
  <tbody>
  	<tr ng-repeat="spreadsheet in list.spreadsheets">
  		<td><a ng-href="spreadsheet/{{spreadsheet.id}}/">{{spreadsheet.title}}</a></td>
  		<td>
  			<a ng-href="spreadsheet/{{spreadsheet.id}}/edit/">
  				<span class="glyphicon glyphicon-random"></span>
  			</a>
  			<a ng-href="spreadsheet/{{spreadsheet.id}}/remove/">
  				<span class="glyphicon glyphicon-remove"></span>
  			</a>
  		</td>
  	</tr>
  </tbody>
</table>