<h3>
    <strong>{{ spreadsheet.title }}</strong>
    <br/>
    f(x) <input type="text" ng-model="spreadsheet.cellsDictionary[spreadsheet.activeCell]" ng-change="updateCells()"></input>
    <span class="pull-right form-inline">
    	<span class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    COLLABORATORS
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" ng-repeat="username in users"><a role="menuitem" tabindex="-1">{{username}}</a></li>
			</ul>
		</span>
        <button type="button" class="btn btn-info" ng-disabled="spreadsheet.shared" ng-click="share()">SHARE</button>
        <button type="button" class="btn btn-primary" ng-if="spreadsheet.shared && !linkAvailable" ng-click="showShareLink()">LINK</button>
        <input type="text" class="form-control" ng-if="linkAvailable" ng-model="shareLink"></input>
        <button type="button" class="btn btn-primary" ng-if="linkAvailable && !user.anonymous" ng-click="editSpreadsheet(spreadsheet.id)">CHANGE</button>
    </span>
</h3>
<br/>
<hr>
<div id="update-notification" class="notifications top-right"></div>
<div id="spreadsheet-table" class="table-responsive">
	<table class="table table-bordered" ag-navigable-table="excel">
		<thead>
			<tr style="background: #EEE;">
			  <th></th>
			  <th ng-repeat="column in columns" class="text-center">{{ column }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows">
			  <th style="background: #EEE; width: 2em;" class="text-center">{{ row }}</th>
			  <td ng-repeat="column in columns">
			  	  <div ng-if="spreadsheet.activeCell != column+row">				
			      	<input style="border:none;" ng-style="spreadsheet.cellsStyling[column+row]" ng-model="spreadsheet.cellsValue[column+row]" ng-model-onblur ng-click="setSelected()"></input>
			      </div>

			  	  <div ng-if="spreadsheet.activeCell == column+row">	
			  	  	<input style="border:none;background: #3DE1F3;" ng-style="spreadsheet.cellsStyling[column+row]" ng-model="spreadsheet.cellsValue[column+row]" ng-model-onblur ng-change="updateCells()" ng-click="setSelected()"></input>
			      </div>
			  </td>
			</tr>
		</tbody>
	</table>
</div>
